.idea
.vscode
postgres.env
aws.env
dump.sql

*/.env
*/node_modules
*/yarn-error.log

api/dist

frontend/src/static/sw.js
frontend/.nuxt
frontend/tailwind.css


imageflow/packages-microsoft-prod.deb
