.idea
.vscode

.env

api/dist
api/node_modules

frontend/.next
frontend/node_modules

landing/.next
landing/node_modules
landing/out

wwwredirect/node_modules

latest.dump

.graphqlconfig
schema.graphql
