html, body, #root {
  position: relative;
  height: 100%;
}

html {
  @apply text-black bg-gray-100;
}

html.dark {
  @apply text-white bg-gray-900;
}

body {
  -webkit-tap-highlight-color: transparent;
}

.text-tertiary {
  @apply text-gray-600 dark:text-gray-400;
}

.text-secondary {
  @apply text-gray-700 dark:text-gray-300;
}

.text-primary {
  @apply text-gray-900 dark:text-gray-100;
}

.text-mid {
  @apply text-gray-500;
}

.text-disabled {
  @apply text-gray-400 dark:text-gray-600
}

.text-accent {
  @apply text-blue-500;
}

.placeholder-mid {
  @apply placeholder-gray-500 dark:placeholder-gray-500;
}

.placeholder-tertiary {
  @apply placeholder-gray-600 dark:placeholder-gray-400;
}

.placeholder-secondary {
  @apply placeholder-gray-700 dark:placeholder-gray-300;
}

.placeholder-primary {
  @apply placeholder-gray-900 dark:placeholder-gray-100;
}

.menu-items {
  @apply absolute bg-white border border-gray-200 dark:border-transparent dark:bg-gray-800 rounded-md shadow-lg outline-none;
}

.menu-item {
  @apply cursor-pointer transition flex items-center w-full px-4 py-2.5 text-sm font-medium text-left focus:outline-none select-none;
}

.hidescroll {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.hidescroll::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.action-chip {
  @apply text-xs font-medium inline-flex items-center cursor-pointer h-7 px-2 rounded-full hover:bg-gray-200 dark:hover:bg-gray-700 transition;
}

.react-player {
  @apply absolute top-0 left-0;
}

.toast {
  @apply bg-white dark:bg-gray-900 text-sm font-normal text-black dark:text-white !important;
}

.twemoji {
  @apply w-4.5 h-4.5 inline-block object-contain;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.textbox {
  @apply rounded dark:bg-gray-775 border dark:border-gray-850 duration-300 dark:focus:border-blue-500 h-10 placeholder-gray-600 dark:placeholder-gray-400 block focus:outline-none transition w-full text-base;
}

.label {
  @apply text-left block pb-2 uppercase text-11 font-semibold tracking-widest text-gray-600 dark:text-gray-400;
}

.card {
  @apply rounded shadow-lg dark:bg-gray-750 max-w-md w-full p-4 z-20;
}

.title {
  @apply text-2xl font-bold text-center;
}

.highlightable {
  @apply cursor-pointer text-gray-600 dark:text-gray-400 hover:text-gray-700 dark:hover:text-gray-300;
}

.scrollbar {
  @apply scrollbar-thin dark:scrollbar-thumb-gray-850 dark:scrollbar-track-gray-775 scrollbar-thumb-rounded-md;
}

.scrollbar-light {
  @apply scrollbar-thin dark:scrollbar-thumb-gray-800 dark:scrollbar-track-gray-725 scrollbar-thumb-rounded-md;
}

.scrollbar-dark {
  @apply scrollbar-thin dark:scrollbar-thumb-gray-850 dark:scrollbar-track-gray-800 scrollbar-thumb-rounded-md;
}

[contentEditable=true]:empty:before{
  content: attr(data-placeholder);
  @apply text-gray-500 dark:text-gray-500 leading-none;
}

.messages-start {
  min-height: calc(100vh - 23rem);
}

span[data-spoiler='1'] {
  @apply dark:bg-gray-100 bg-gray-900 dark:hover:bg-transparent hover:bg-transparent;
}
