body {
  @apply text-black bg-gray-100;
  -webkit-tap-highlight-color: transparent;
}

body.dark {
  @apply text-white bg-gray-900;
}

@media(min-width: 640px) {
  .page {
    margin-left: 17.5rem;
    margin-right: 17.5rem;
  }
}

.page {
  @apply flex flex-col h-full min-h-full;
}

.text-tertiary {
  @apply text-gray-600 dark:text-gray-400;
}

.text-secondary {
  @apply text-gray-700 dark:text-gray-300;
}

.text-primary {
  @apply text-black dark:text-white;
}

.text-mid {
  @apply text-gray-500;
}

.text-disabled {
  @apply text-gray-400 dark:text-gray-600
}

.text-accent {
  @apply text-blue-500;
}

.font-header {
  @apply text-tiny font-semibold uppercase tracking-widest;
}

.line-clamp-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
   /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.line-clamp-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.line-clamp-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.animate-online {
  animation: online 5s cubic-bezier(0, 0, 0.2, 1) 5s infinite;
}

@keyframes online {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  20%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

.navitem-active::before {
  content: "";
  @apply absolute left-0 top-0 bottom-0 w-1 bg-blue-500;
}

.tippy-box {
  @apply bg-gray-900 shadow-lg;
}

.tippy-arrow {
  @apply text-gray-900 shadow-lg;
}

.inset-center {
  @apply transform left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
}

.inset-x-center {
  @apply transform left-1/2 -translate-x-1/2;
}

.inset-y-center {
  @apply transform top-1/2 -translate-y-1/2;
}

.aspect-ratio-16\/9 {
  padding-bottom: 56.25%;
}
