.commentcollapse {
  @apply absolute top-0 bottom-0 w-8 cursor-pointer group z-10;
}

.commentcollapse::before {
  @apply absolute left-1/2 transform -translate-x-1/2 top-0 bottom-0 w-0.5 bg-gray-200 dark:bg-gray-700 transition;
  content: "";
}

.commentcollapse:hover::before {
  @apply bg-blue-500;
}

.menu-items {
  @apply absolute bg-white border border-gray-200 dark:border-transparent dark:bg-gray-800 rounded-md shadow-lg outline-none;
}

.menu-item {
  @apply cursor-pointer transition flex items-center w-full px-4 py-2.5 text-sm font-medium text-left focus:outline-none select-none;
}

.hidescroll {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.hidescroll::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.item {
  @apply flex-shrink-0 inline-flex items-center justify-center w-full h-full rounded-full cursor-pointer hover:shadow-lg;
}

.planetscroller-item {
  @apply group flex-shrink-0 relative inline-flex items-end justify-center w-full h-14 rounded-full cursor-pointer;
}

.planetscroller-item--dot {
  @apply w-12 h-12 object-cover inline-flex items-center justify-center rounded-full transform transition hover:scale-105 hover:shadow-lg;
}

.planetscroller-item--active::before {
  content: "";
  @apply absolute left-0 bottom-1 top-3 w-1 dark:bg-white rounded-r-2xl;
}

.sidebar {
  @apply w-64 top-14 bottom-0 fixed z-50 flex flex-col overflow-y-auto bg-white dark:bg-gray-850 transform duration-300 transition;
}

.sidebar-item {
  @apply rounded cursor-pointer inline-flex items-center text-sm font-medium px-4 w-full h-9 transition dark:hover:bg-gray-750 text-gray-600 dark:text-gray-400;
}

.sidebar-item--large {
  @apply h-12;
}

.sidebar-item--active {
  @apply text-gray-800 dark:text-gray-200 dark:bg-gray-750;
}

.sidebar-label {
  @apply px-4 pt-4 pb-0.5 text-gray-600 dark:text-gray-400 uppercase text-11 font-semibold tracking-widest;
}

.pagebutton {
  @apply flex items-center justify-center flex-grow transition dark:hover:bg-gray-800 h-full cursor-pointer;
}

.action-chip {
  @apply text-xs font-medium inline-flex items-center cursor-pointer h-7 px-2 rounded-full hover:bg-gray-200 dark:hover:bg-gray-700 transition;
}

.react-player {
  @apply absolute top-0 left-0;
}

.toast {
  @apply bg-white dark:bg-gray-950 text-sm font-medium text-black dark:text-white !important;
}

.twemoji {
  @apply w-4.5 h-4.5 inline-block object-contain;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.animate-online {
  animation: online 5s cubic-bezier(0, 0, 0.2, 1) 5s infinite;
}

@keyframes online {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  20%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}
