body {
  @apply text-black bg-gray-200;
  -webkit-tap-highlight-color: transparent;
}

body.dark {
  @apply text-white bg-gray-900;
}

@media(min-width: 640px) {
  .page {
    margin-left: 17.5rem;
    margin-right: 17.5rem;
  }
}

.page {
  @apply flex flex-col;
}

.text-tertiary {
  @apply text-gray-600 dark:text-gray-400;
}

.text-secondary {
  @apply text-gray-700 dark:text-gray-300;
}

.text-primary {
  @apply text-black dark:text-white;
}

.text-disabled {
  @apply text-gray-400 dark:text-gray-600
}

.text-accent {
  @apply text-blue-500;
}

.font-header {
  @apply text-tiny font-semibold tracking-wider uppercase;
}

.line-clamp-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
   /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.line-clamp-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.animate-online {
  animation: online 5s cubic-bezier(0, 0, 0.2, 1) 5s infinite;
}

@keyframes online {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  20%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

.navitem-active::before {
  content: "";
  @apply absolute left-0 top-0 bottom-0 w-1 bg-blue-500;
}

.tippy-box {
  @apply bg-gray-900 shadow-lg;
}

.tippy-arrow {
  @apply text-gray-900 shadow-lg;
}

.inset-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inset-x-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.inset-y-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.transition-100 {
  @apply transition duration-100 ease-in-out;
}

.transition-150 {
  @apply transition duration-150 ease-in-out;
}

.transition-200 {
  @apply transition duration-200 ease-in-out;
}

.transition-300 {
  @apply transition duration-300 ease-in-out;
}

.sidebar-item {
  @apply cursor-pointer relative text-xs font-semibold tracking-wide dark:hover:bg-gray-900 hover:bg-gray-200 px-6 py-2 flex items-center hover:text-blue-500 dark:hover:text-blue-500 text-gray-600 dark:text-gray-400 transition-150;
}

.aspect-ratio-16\/9 {
  padding-bottom: 56.25%;
}
