@tailwind base;

/* Write your own custom base styles here */
body { font-family: 'Inter', sans-serif !important; }
@supports (font-variation-settings: normal) {
  body { font-family: 'Inter var', sans-serif !important; }
}

body {
  @apply text-black bg-gray-50;
  -webkit-tap-highlight-color: transparent;
}

body.dark {
  @apply text-white bg-gray-900;
}


/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */
@media(min-width: 640px) {
  .page {
    margin-left: 17.5rem;
    margin-right: 17.5rem;
  }
}

.page {
  @apply flex flex-grow;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
.text-tertiary {
  @apply text-gray-600 dark:text-gray-400;
}

.text-secondary {
  @apply text-gray-800 dark:text-gray-200;
}

.text-primary {
  @apply text-black dark:text-white;
}

.text-accent {
  @apply text-blue-500;
}

.line-clamp-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
   /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.line-clamp-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.animate-online {
  animation: online 5s cubic-bezier(0, 0, 0.2, 1) 5s infinite;
}

@keyframes online {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  20%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

.navitem-active::before {
  content: "";
  @apply absolute left-0 top-0 bottom-0 w-1 bg-blue-500;
}
