.slideout-menu {
    @apply z-0 md:z-10 fixed bottom-0 min-h-screen hidden md:block;
    -webkit-overflow-scrolling: touch;
}

.slideout-menu-left {
    left: 0;
}

.slideout-menu-right {
    right: 0;
}

.slideout-panel {
    @apply relative bg-gray-100 dark:bg-gray-750 min-h-screen h-full w-full md:pl-76;
    z-index: 1;
    will-change: transform;
}

.slideout-panel--right {
    @apply md:pr-60;
}

.slideout-panel--header {
    @apply pt-12;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    @apply overflow-hidden;
}

.slideout-open .slideout-menu {
    @apply block;
}

.slideout-open--right.slideout-menu-left {
    transform: translateX(-9999px);
}

.slideout-open--left.slideout-menu-right {
    transform: translateX(9999px);
}
