.App {
  font-family: sans-serif;
  text-align: center;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.react-beatiful-dnd-copy ~ li {
  transform: none !important;
}

.dragging {
  background: yellow;
  text-align: center;
  font-family: sans-serif;
}

.react-beatiful-dnd-copy {
  background: lightblue;
}

.react-beatiful-dnd-copy ~ [data-rbd-placeholder-context-id] {
  display: none !important;
}

.shop {
  padding: 10px;
  border: 1px solid #aaa;
}

.shopping-bag {
  padding: 10px;
  border: 1px dashed #777;
}
