@import '~vuetify/src/styles/settings/variables';

$body-font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
$heading-font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;

$font-size-root: 14px;
$border-radius-root: 10px;
$snackbar-content-font-size: 1rem;
$list-item-dense-title-font-size: .93rem;
$list-item-action-icon-margin: 16px;
$list-item-dense-title-font-weight: 400;
$list-item-subtitle-font-size: 1rem;
$list-item-title-font-size: 1rem;
$list-item-title-subtitle-line-height: 1.3;
$card-text-font-size: 1rem;
$card-text-line-height: 1.3;
$card-title-line-height: 1.3;
$card-title-font-size: 1.43rem;

$material-dark: (
  'background': #202124,
  'surface': #202124,
  'bottom-navigation': #35363A,
  'navigation-drawer': #202124,
  'cards': #35363A,
  'toolbar': #202124,
  'app-bar': #202124,
  'text': (
    'primary': #E8EAED,
    'secondary': #9AA0A6
  )
);

$material-light: (
  'background': #F1F3F4,
  'surface': #F1F3F4,
  'bottom-navigation': #F8F9FA,
  'navigation-drawer': #F8F9FA,
  'cards': #F8F9FA,
  'toolbar': #F8F9FA,
  'app-bar': #F8F9FA,
  'text': (
    'primary': #202124,
    'secondary': #5F6368
  )
);

$container-max-widths: (
  'md': 100%,
  'lg': 100%,
  'xl': map-get($grid-breakpoints, 'xl') * 0.7
);

$chip-outlined-active-opacity: 0;
$card-link-focus-opacity: 0;

$code-background-color: #000000;
$code-color: #FFFFFF;
$code-kbd-border-radius: 5px;
$code-kbd-font-size: 0.93rem;
$code-kbd-font-weight: bold;
$code-padding: 0.2rem 0.4rem;
$blockquote-font-size: 1rem;
$blockquote-font-weight: 400;

$btn-font-weight: 500;
$btn-letter-spacing: normal;
$btn-text-transform: none;
$btn-font-sizes: (
  'x-small': .714rem,
  'small': .857rem,
  'default': 1rem,
  'large': 1rem,
  'x-large': 1.143rem
);

@import '~vuetify/src/styles/styles.sass';
