.titlebar {
    @apply relative pl-2 h-5.5 z-10 w-full bg-white dark:bg-gray-900 flex items-center;
    -webkit-app-region: drag;
}

.window-controls {
    @apply absolute top-0 right-0 h-full flex items-center;
    -webkit-app-region: no-drag;
}

.window-button {
    @apply justify-center items-center w-8 h-full select-none cursor-pointer;
}

@media (-webkit-device-pixel-ratio: 1.5), (device-pixel-ratio: 1.5),
(-webkit-device-pixel-ratio: 2), (device-pixel-ratio: 2),
(-webkit-device-pixel-ratio: 3), (device-pixel-ratio: 3) {
    .window-button-icon {
        width: 10px;
        height: 10px;
    }
}

.window-button:hover {
    background: rgba(255,255,255,0.1);
}

.window-button:active {
    background: rgba(255,255,255,0.2);
}

.close-button:hover {
    background: #E81123 !important;
}

.close-button:active {
    background: #F1707A !important;
}

.close-button:active .window-button-icon {
    filter: invert(1);
}
