@use "sass:math";

$n: 7;

$shadow: ();

@for $i from 1 through $n {
  $v: random(90) + 9;
  $h: random(250) + 50;
  $d: math.div(random(70), 10) + 3;
  .meteor-#{$i} {
    z-index: 10;
    position: absolute;
    top: $h + px;
    left: $v*1%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #3B82F6, rgba(#EF4444 ,0));
    animation: meteor $d+s linear  infinite;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      width: 4px;
      height: 5px;
      border-radius: 50%;
      margin-top: -2px;
      background: rgba(#EF4444,.7);
      box-shadow: 0 0 15px 3px #3B82F6;
    }

  }
}

@keyframes meteor {
  0% {
    opacity: 1;
    margin-top: -300px;
    margin-right: -300px;
  }
  24% {
    opacity: 0;
  }
  30% {
    margin-top: 300px;
    margin-left: -600px;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
