@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  @apply text-black bg-gray-100;
}

html.dark {
  @apply text-white bg-gray-900;
}

.text-accent {
  @apply text-indigo-500
}

.text-primary {
  @apply text-black dark:text-white;
}

.text-secondary {
  @apply text-gray-700 dark:text-gray-300;
}

.listitem {
  @apply inline-flex flex-row items-center w-full p-3 hover:bg-gray-200 dark:hover:bg-gray-700;
}

.hovergrow-25 {
  @apply flex flex-col items-center transition duration-150 ease-in-out transform hover:scale-125;
}

.hovergrow-10 {
  @apply flex flex-col items-center transition duration-150 ease-in-out transform hover:scale-110;
}

.myborder {
  @apply border-gray-200 dark:border-gray-800;
}

.line-clamp-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.line-clamp-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.card {
  @apply bg-white dark:bg-gray-800;
}
